@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

.calculator {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
.calculator__title {
    text-align: center;
    margin-bottom: 20px;
}
.calculator__numbers {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.calculator__number {
    font-size: 2rem;
    font-weight: bold;
}
.calculator__button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.operation__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto ;
    gap: 10px;
    margin-bottom: 20px;
}
.calculator__button--random {
    background-color: #28A745;
    justify-content: center;
}
.calculator__results {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);

    
}
.calculator__results-zone {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}
.calculator__results-title {}
.calculator__result {}
.calculator__buttons {}


.calculator__button--sum {}
.calculator__button--rest {}
.calculator__button--multiply {}
.calculator__button--divide {}
